@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Libre+Franklin:ital,wght@1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

article{
  max-width: 32rem;
  background-color: #F3F3F3;
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
}

.imgContainer {
  width:32rem;
  height:22rem;
  background-image: url(../img/wonkaCover.webp);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.dataMovie {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.dataMovie > h2 {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
}
.dataMovie > h4 {
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
}

.reviewContainer {
  height: 27rem;
  padding-right: 1rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviewContainer > img {
  width: 10rem;
  border-radius: 100%;
  border: 2px solid #3976DC;
}
.reviewContainer > h4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  color: #3976DC;
}
.reviewContainer > p {
  font-size: 1.6rem;
  font-style: italic;
  font-family: 'Libre Franklin', sans-serif;
}
.controlContainer {
  margin: auto;
  width: 15rem;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: space-evenly;
}
.controlContainer > button {
  color: #3976DC;
  background-color: transparent;
  font-size: 1.4rem;
  border: 0.1rem solid #3976DC;
  padding: 0.5rem 0.3rem;
  border-radius: 0.5rem;
  font-family: 'Inter', sans-serif;
}
.controlContainer > button:hover {
  background-color: #3976DC;
  color:#F3F3F3;
  transition: background-color 0.3s ease;
}
